<mat-card  class="auth-mat-card" >
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
        <h3>Login <i class="icon-user"></i></h3>
        <form [formGroup]="loginForm">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <input class="p-1" type="text" formControlName="email" matInput placeholder="User ID" style="border-radius: 5px;">
                </div>
                <div class="p-2 bd-highlight">
                    <input class="p-1" type="password" formControlName="password" matInput placeholder="Password" style="border-radius: 5px;">
                </div>
                <div class="p-2">
                    <button mat-raised-button style="color: green" (click)="loginUser()">Login<i class="ri-login-circle-line" ></i>
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
