

<mat-drawer-container class="example-container" autosize style="background-color: #bebebf;">
    <mat-drawer #drawer  mode="side" opened="false" position="end">
        <button (click)="logout()" class="logout-button coder-fab"  mat-fab><i class="ri-shut-down-line"></i></button>
        <a (click)="drawer.toggle()" class="menu-toggle rounded" [routerLink]=""><i class="bi bi-list" ></i></a>

        <br><br><br>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <app-menu></app-menu>

    </mat-drawer>

    <a (click)="drawer.toggle()" class="menu-toggle rounded" [routerLink]=""><i class="bi bi-list" ></i></a>
<!--    <a class="logout-button" [routerLink]=""><i class="ri-shut-down-line"></i></a>-->


<!--    <div class="example-sidenav-content">-->
<!--        <button type="button" mat-button (click)="drawer.toggle()">-->
<!--            Toggle sidenav-->
<!--        </button>-->
<!--    </div>-->

    <router-outlet></router-outlet>
    <app-top></app-top>
    <section id="test" class="pl-5">
        <div class="box a" data-aos="fade-up">
            <h2>Animated using fade-up.</h2>
        </div>
        <div class="box b" data-aos="flip-down">
            <h2>Animated using flip-down.</h2>
        </div>
        <div class="box b" data-aos="zoom-in">
            <h2>Animated using zoom-in.</h2>
        </div>
        <div class="about-text" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="200">Experiment is good</div>

        <div class="item" data-aos="fade-up" data-aos-delay="800">1</div>
        <div class="item" data-aos="fade-down" data-aos-delay="800">2</div>
        <div class="item" data-aos="fade-right" data-aos-delay="800">3</div>
        <div class="item" data-aos="fade-left" data-aos-delay="800">4</div>

        <div class="item" data-aos="zoom-in" data-aos-delay="800">5</div>
        <div class="item" data-aos="zoom-out" data-aos-delay="800">6</div>

        <div class="item" data-aos="slide-up" data-aos-delay="800">7</div>

        <div class="item" data-aos="flip-up" data-aos-delay="800">8</div>
        <div class="item" data-aos="flip-down" data-aos-delay="800">9</div>
        <div class="item" data-aos="flip-right" data-aos-delay="800">10</div>
        <div class="item" data-aos="flip-left" data-aos-delay="800">11</div>
    </section>
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose CODER?</h3>
                        <p>
                            Mordern infrastructure with best guidance.
                            A natural ability to do or learn something well and easily.
                            An ability to make the material being taught stimulating and interesting.
                            A facility for engaging with students at their level of understanding.
                        </p>
                        <div class="text-center">
                            <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-tv"></i>
                                    <h4 style="padding-top: 50px;">Learn Computer</h4>
                                    <p>
                                        Identify what you need to learn.
                                        Start with the basics—and ensure you know how to use a computer.
                                        Familiarize yourself with an understanding of how computers (and the Internet) work.
                                        Take a computer course.
                                        Apply the knowledge and get hands-on practice.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-person-fill"></i>
                                    <h4 style="padding-top: 50px;">Get Best Guidance</h4>
                                    <p>
                                        Visualization, Bring the all academic concepts to life with visual and practical learning experiences, helping your students to understand how their schooling applies in the real-world.
                                        Cooperative learning.
                                        Inquiry-based instruction.
                                        Differentiation.
                                        Technology in the classroom.
                                        Professional development.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-trophy"></i>
                                    <h4 style="padding-top: 50px;">Achievement</h4>
                                    <p>
                                        Done your courses successfully with effort, skill, or courage.
                                        Re-organized something to make it work better.
                                        Received certificates of your achievement.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <!-- <i class="ri-store-line" style="color: #ffbb2c;"></i> -->
                        <img src="assets/img/html.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">HTML</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <!-- <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> -->
                        <img src="assets/img/c.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">C-Language</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <!-- <i class="ri-calendar-todo-line" style="color: #e80368;"></i> -->
                        <img src="assets/img/cpp.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3  style="padding-left: 20px;"><a href="">C++ Language</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <!-- <i class="ri-paint-brush-line" style="color: #e361ff;"></i> -->
                        <img src="assets/img/java.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">JAVA</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-database-2-line" style="color: #47aeff;"></i> -->
                        <img src="assets/img/python.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">PYTHON</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-gradienter-line" style="color: #ffa76e;"></i> -->
                        <img src="assets/img/js.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">Java Script</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-file-list-3-line" style="color: #11dbcf;"></i> -->
                        <img src="assets/img/sql.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">SQL</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-price-tag-2-line" style="color: #4233ff;"></i> -->
                        <img src="assets/img/vsc.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">Visual Studio Code</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-anchor-line" style="color: #b2904f;"></i> -->
                        <img src="assets/img/php.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">php storm</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-disc-line" style="color: #b20969;"></i> -->
                        <img src="assets/img/webstorm.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3  style="padding-left: 20px;"><a href="">web storm</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-base-station-line" style="color: #ff5828;"></i> -->
                        <img src="assets/img/toad.jpg" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">Toad for Mysql</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <!-- <i class="ri-fingerprint-line" style="color: #29cc61;"></i> -->
                        <img src="assets/img/adobe.png" width="50px" style="border-radius: 30px;" alt="">
                        <h3 style="padding-left: 20px;"><a href="">Adobe Photoshop</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Courses</h2>
                <p>Popular Courses</p>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Web Development</h4>
                                <p class="price">$169</p>
                            </div>

                            <h3><a href="course-details.html">Website Design</a></h3>
                            <p>Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. Web developers, or 'devs', do this by using a variety of coding languages.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                                    <span> Mr. Sukanta Hui</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;50
                                    &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;65
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Programming Language</h4>
                                <p class="price">$250</p>
                            </div>

                            <h3><a href="course-details.html">C Language</a></h3>
                            <p>The C programming language is a computer programming language that was developed to do system programming for the operating system UNIX and is an imperative programming language. C was developed in the early 1970s by Ken Thompson and Dennis Ritchie at Bell Labs. <br>... C is a compiled language.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                                    <span>Mrs.Tanushree Hui</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;35
                                    &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;42
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>SQL</h4>
                                <p class="price">$180</p>
                            </div>

                            <h3><a href="course-details.html">Structured Query Language</a></h3>
                            <p>SQL stands for Structured Query Language. SQL lets you access and manipulate databases. SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                                    <span>Miss. Sreeparna Das</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;20
                                    &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;85
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section><!-- End Popular Courses Section -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Responsive</strong></h4>
                    <p class="text-faded mb-0">Looks great on any screen size!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Redesigned</strong></h4>
                    <p class="text-faded mb-0">Freshly redesigned for Bootstrap 5.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                    <h4><strong>Favorited</strong></h4>
                    <p class="text-faded mb-0">
                        Millions of users
                        <i class="fas fa-heart"></i>
                        Start Bootstrap!
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                    <h4><strong>Question</strong></h4>
                    <p class="text-faded mb-0">I mustache you a question...</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Callout-->
    <section class="callout">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mx-auto mb-5">
                Welcome to
                <em>your</em>
                next website!
            </h2>
            <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/">Download Now!</a>
        </div>
    </section>

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4> Mr. Sukanta Hui</h4>
                            <span>Mentor</span>
                            <!-- <p>
                              Web Developper, Efficient in differrent programming languages
                            </p> -->
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/sukantahui"><i class="bi bi-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/sukantahui"><i class="bi bi-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/sukantahui/"><i class="bi bi-instagram"></i></a>
                                <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Mrs.Tanushree Hui</h4>
                            <span>Mentor</span>
                            <!-- <p>

                            </p> -->
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/tanusreehui"><i class="bi bi-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/tanusree.hui"><i class="bi bi-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/tanusreehui/"><i class="bi bi-instagram"></i></a>
                                <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Miss. Sreeparna Das</h4>
                            <span>Mentor</span>
                            <!-- <p>
                              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                            </p> -->
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/sreeparna94"><i class="bi bi-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/profile.php?id=100006890506105"><i class="bi bi-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/sreeparna83/"><i class="bi bi-instagram"></i></a>
                                <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Trainers Section -->

    <!-- Portfolio-->
    <section class="content-section" id="portfolio">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Stationary</div>
                                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Ice Cream</div>
                                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Strawberries</div>
                                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Workspace</div>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section bg-primary text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">The buttons below are impossible to resist...</h2>
            <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
            <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
        </div>
    </section>
    <!-- Map-->
    <div class="map" id="contact">
        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small>
    </div>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Mentor</h3>
                        <p>
                            25(10/A)<br>
                            Shibtala, Nonachandanpukur<br>
                            Barackpore<br><br>
                            <strong>Phone:</strong> +91 70037 56860<br>
                            <strong>Email:</strong> sukantahui@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://twitter.com/sukantahui" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/sukantahui" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/sukantahui/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus" target="_blank"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/sukanta-hui-56790931/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>

</mat-drawer-container>
